[
    {test_server, [{http_port, 8088}, {cfg_path, "./config"}, {tcp_port, 7631}, {db_cache_tactics, write_behind}]},
    {erl_gs_db,[{pool_name,sqlPool1},{db_cache_tactics, write_behind}]},
    {sasl, [{sasl_error_logger, {file, "./log/sasl.log"}}]},
    {eredis_pool,
        [
            {global_or_local, local},
            {pools, [{dbsrv, [
                {size, 1},
                {max_overflow, 1}
            ], []}
            ]}

        ]
    },
    {mysql_poolboy, [
        {sqlPool1, {
            [
                {name, {local, mysql1}},
                {worker_module, mysql},
                {size, 10},
                {max_overflow, 5}
            ],
            [
                {host, "127.0.0.1"},
                {port, 3306},
                {user, "root"},
                {password, "123456"},
                {database, "test"}
            ]
        }}
    ]},
    {lager, [
        {log_root, "./log"},
        {handlers, [
            {lager_console_backend,
                [{level, info}, {formatter, lager_default_formatter},
                    {formatter_config, [date, "/", time, "[", severity, "][", module, ":", function, ":", line, "]", "|", message, "\n"]}]},
            {lager_file_backend,
                [{file, "error.log"}, {level, error}, {formatter, lager_default_formatter},
                    {formatter_config, [date, "/", time, "[", module, ":", function, ":", line, "]", "|", message, "\n"]}]},
            {lager_file_backend,
                [{file, "info.log"}, {level, info}, {formatter, lager_default_formatter},
                    {formatter_config, [date, "/", time, "[", module, ":", function, ":", line, "]", "|", message, "\n"]}]}
        ]},
        {colored, true},
        {
            colors,
            [
                {debug, "\e[0:38m"},
                {info, "\e[1;32m"},
                {notice, "\e[1;36m"},
                {warning, "\e[1;33m"},
                {error, "\e[1;31m"},
                {critical, "\e[1;35m"},
                {alert, "\e[1;44m"},
                {emergency, "\e[1;41m"}
            ]
        }
    ]}
].


